<div  class="main-container">
  <h2 class="page-title">Create Demographic</h2>
  <!--client basic information-->
  <p-panel  header="Basic Information" [toggleable]="true">
    <div class="input-form">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="First Name" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Middle Name" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Last Name" required>
          </div>
        </div>
      </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <p-calendar [(ngModel)]="value" placeholder="Date of Birth" [showIcon]="true"></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
            <input type="text" pInputText placeholder="Phone" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" pInputText placeholder="Email" required>
          </div>
        </div>
      </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="genders" [(ngModel)]="selectedGender"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="races" [(ngModel)]="selectedRace"></p-dropdown>
        </div>
      </div>

    </div>
  </p-panel>

  <p-panel  header="Address Information" [toggleable]="true">

    Body Content

  </p-panel>

  <p-panel  header="Additional Information" [toggleable]="true">

    Body Content

  </p-panel>

</div>
