<div  class="main-container">
  <h2 class="page-title">Create Demographic</h2>
  <!--client basic information-->
  <form [formGroup]="createDemographicForm">
  <p-panel  header="Basic Information" [toggleable]="true">
    <div class="input-form">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="First Name" formControlName="firstName" required>
            <div *ngFor="let validation of validation_messages.firstname">
                <p-message severity="error" *ngIf="createDemographicForm.get('firstName').hasError(validation.type) && (createDemographicForm.get('firstName').dirty || createDemographicForm.get('firstName').touched)" text={{validation.message}}></p-message>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Middle Name" formControlName="middleName" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Last Name" formControlName="lastName"required>
            <div *ngFor="let validation of validation_messages.lastname">
                <p-message severity="error" *ngIf="createDemographicForm.get('lastName').hasError(validation.type) && (createDemographicForm.get('lastName').dirty || createDemographicForm.get('lastName').touched)" text={{validation.message}}></p-message>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <p-calendar placeholder="Date of Birth" [showIcon]="true" formControlName="birthday"></p-calendar>
          <div *ngFor="let validation of validation_messages.birthday">
              <p-message severity="error" *ngIf="createDemographicForm.get('birthday').hasError(validation.type) && (createDemographicForm.get('birthday').dirty || createDemographicForm.get('birthday').touched)" text={{validation.message}}></p-message>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
            <input type="tel" pInputText placeholder="Phone" formControlName="phone" required>
            <div *ngFor="let validation of validation_messages.phone">
                <p-message severity="error" *ngIf="createDemographicForm.get('phone').hasError(validation.type) && (createDemographicForm.get('phone').dirty || createDemographicForm.get('phone').touched)" text={{validation.message}}></p-message>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
            <input type="email" pInputText placeholder="Email" formControlName="email" required>
            <div *ngFor="let validation of validation_messages.email">
              <p-message severity="error" *ngIf="createDemographicForm.get('email').hasError(validation.type) && (createDemographicForm.get('email').dirty || createDemographicForm.get('email').touched)" text={{validation.message}}></p-message>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO: change the dropdown box size to fix the full width-->
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="genders"  [autoWidth]="false" formControlName="gender"></p-dropdown>
          <div *ngFor="let validation of validation_messages.gender">
              <p-message severity="error" *ngIf="createDemographicForm.get('gender').hasError(validation.type) && (createDemographicForm.get('gender').dirty || createDemographicForm.get('gender').touched)" text={{validation.message}}></p-message>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="races"  [autoWidth]="false" formControlName="race" filter="true"s></p-dropdown>
          <div *ngFor="let validation of validation_messages.race">
              <p-message severity="error" *ngIf="createDemographicForm.get('race').hasError(validation.type) && (createDemographicForm.get('race').dirty || createDemographicForm.get('race').touched)" text={{validation.message}}></p-message>
          </div>
        </div>
      </div>

    </div>
  </p-panel>

  <p-panel  header="Address Information" [toggleable]="true">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-location-arrow"></i></span>
          <input type="text" pInputText placeholder="Address 1" formControlName="address1" required>
          <div *ngFor="let validation of validation_messages.address1">
              <p-message severity="error" *ngIf="createDemographicForm.get('address1').hasError(validation.type) && (createDemographicForm.get('address1').dirty || createDemographicForm.get('address1').touched)" text={{validation.message}}></p-message>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-location-arrow"></i></span>
          <input type="text" pInputText placeholder="Address 2" formControlName="address2" required>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <!--can be changed to auto complete later -->
          <input type="text" pInputText placeholder="City" formControlName="city" required>
          <div *ngFor="let validation of validation_messages.city">
              <p-message severity="error" *ngIf="createDemographicForm.get('city').hasError(validation.type) && (createDemographicForm.get('city').dirty || createDemographicForm.get('city').touched)" text={{validation.message}}></p-message>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <p-dropdown [options]="states"  formControlName="state"  [style]="{'width': '100%'}" filter="true"></p-dropdown>
          <div *ngFor="let validation of validation_messages.state">
              <p-message severity="error" *ngIf="createDemographicForm.get('state').hasError(validation.type) && (createDemographicForm.get('state').dirty || createDemographicForm.get('state').touched)" text={{validation.message}}></p-message>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <input type="text" pInputText placeholder="Zipcode" formControlName="zipcode" required>
          <div *ngFor="let validation of validation_messages.zipcode">
              <p-message severity="error" *ngIf="createDemographicForm.get('zipcode').hasError(validation.type) && (createDemographicForm.get('zipcode').dirty || createDemographicForm.get('zipcode').touched)" text={{validation.message}}></p-message>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2">
        <h3> Living arrangement: </h3>
      </div>
      <div class="ui-g-12 ui-md-10">
        <p-checkbox name="groupname" [value]="item.value" [label]="item.label"  *ngFor="let item of livingArranges" formControlName="livingArranges"></p-checkbox>
        <div *ngFor="let validation of validation_messages.livingArranges">
            <p-message severity="error" *ngIf="createDemographicForm.get('livingArranges').hasError(validation.type) && (createDemographicForm.get('livingArranges').dirty || createDemographicForm.get('livingArranges').touched)" text={{validation.message}}></p-message>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2">
        <h3>Resident Condition: </h3>
      </div>
      <div class="ui-g-12 ui-md-10">
        <p-multiSelect [options]="residentCondition"   [(ngModel)]="selectedResident" [panelStyle]="{minWidth:'12em'}" formControlName="residentCondition" ></p-multiSelect>
        <h3>Selected Resident Condition: {{selectedResident}}</h3>
        <div *ngFor="let validation of validation_messages.residentCondition">
            <p-message severity="error" *ngIf="createDemographicForm.get('residentCondition').hasError(validation.type) && (createDemographicForm.get('residentCondition').dirty || createDemographicForm.get('residentCondition').touched)" text={{validation.message}}></p-message>
        </div>
      </div>
    </div>

  </p-panel>

  <p-panel  header="Additional Information" [toggleable]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <p-dropdown [options]="marryStatus" formControlName="married" [style]="{'width':'600px'}"></p-dropdown>
        <div *ngFor="let validation of validation_messages.married">
            <p-message severity="error" *ngIf="createDemographicForm.get('married').hasError(validation.type) && (createDemographicForm.get('married').dirty || createDemographicForm.get('married').touched)" text={{validation.message}}></p-message>
        </div>
      </div>
      <div  *ngIf="showMarrayStatus" class="ui-g-12 ui-md-6">
        <p-radioButton name="groupname" value="Living together" label="Living together" formControlName="together"></p-radioButton>
        <p-radioButton name="groupname" value="Not Living together" label="Not Living together" formControlName="together"></p-radioButton>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <p-dropdown [options]="employStatus" formControlName="employment" [style]="{'width':'600px'}"></p-dropdown>
        <div *ngFor="let validation of validation_messages.employment">
            <p-message severity="error" *ngIf="createDemographicForm.get('employment').hasError(validation.type) && (createDemographicForm.get('employment').dirty || createDemographicForm.get('employment').touched)" text={{validation.message}}></p-message>
        </div>
      </div>
      <div *ngIf="showEmploymentType" class="ui-g-12 ui-md-6">
        <p-dropdown [options]="employTypes" formControlName="employType"></p-dropdown>
      </div>
    </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
          <h3>Other Comments:</h3>
        </div>
        <div class="ui-g-12 ui-md-6">
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
  </p-panel>
</form>
  <div>
    <button pButton type="button" label="Submit" (click)="onSubmmit()" [disabled]="createDemographicForm.invalid"></button>
    <button pButton type="button" label="Back" class="ui-button-secondary"></button>
  </div>
</div>
