<div  class="main-container">
  <h2 class="page-title">Create Demographic</h2>
  <!--client basic information-->
  <form [formGroup]="createDemographicForm">
  <p-panel  header="Basic Information" [toggleable]="true">
    <div class="input-form">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="First Name" formControlName="firstName" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Middle Name" formControlName="middleName" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Last Name" formControlName="lastName"required>
          </div>
        </div>
      </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <p-calendar placeholder="Date of Birth" [showIcon]="true" formControlName="birthday"></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
            <input type="tel" pInputText placeholder="Phone" formControlName="phone" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
            <input type="email" pInputText placeholder="Email" formControlName="email" required>
          </div>
        </div>
      </div>

      <!-- TODO: change the dropdown box size to fix the full width-->
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="genders"  [autoWidth]="false" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="races"  [autoWidth]="false" formControlName="race"></p-dropdown>
        </div>
      </div>

    </div>
  </p-panel>

  <p-panel  header="Address Information" [toggleable]="true">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-location-arrow"></i></span>
          <input type="text" pInputText placeholder="Address 1" formControlName="address1" required>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-location-arrow"></i></span>
          <input type="text" pInputText placeholder="Address 2" formControlName="address2" required>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <!--can be changed to auto complete later -->
          <input type="text" pInputText placeholder="City" formControlName="city" required>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <p-dropdown [options]="states"  formControlName="state"  [style]="{'width':'400px'}" filter="true"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <input type="text" pInputText placeholder="Zipcode" formControlName="zipcode" required>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2">
        <h3> Living arrangement: </h3>
      </div>
      <div class="ui-g-12 ui-md-10">
        <p-checkbox name="groupname" [value]="item.value" [label]="item.label"  *ngFor="let item of livingArranges" formControlName="livingArranges"></p-checkbox>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2">
        <h3>Resident Condition: </h3>
      </div>
      <div class="ui-g-12 ui-md-10">
        <p-multiSelect [options]="residentCondition"  [panelStyle]="{minWidth:'12em'}" formControlName="residentCondition"></p-multiSelect>
        <h3>Selected Resident Condition: {{selectedResident}}</h3>
      </div>
    </div>

  </p-panel>

  <p-panel  header="Additional Information" [toggleable]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <p-dropdown [options]="marryStatus" formControlName="married" [style]="{'width':'600px'}"></p-dropdown>
      </div>
      <div  *ngIf="showMarrayStatus" class="ui-g-12 ui-md-6">
        <p-radioButton name="groupname" value="Living together" label="Living together" formControlName="together"></p-radioButton>
        <p-radioButton name="groupname" value="Not Living together" label="Not Living together" formControlName="together"></p-radioButton>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <p-dropdown [options]="employStatus" formControlName="employment" [style]="{'width':'600px'}"></p-dropdown>
      </div>
      <div *ngIf="showEmploymentType" class="ui-g-12 ui-md-6">
        <p-dropdown [options]="employTypes" formControlName="employType"></p-dropdown>
      </div>
    </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
          <h3>Other Comments:</h3>
        </div>
        <div class="ui-g-12 ui-md-6">
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
  </p-panel>
</form>
  <div>
    <button pButton type="button" label="Submit" (click)="onSubmmit()" [disabled]="createDemographicForm.invalid"></button>
    <button pButton type="button" label="Back" class="ui-button-secondary"></button>
  </div>
</div>
