<div class="main-container">
  <h2 class="page-title">Patient Home</h2>
  <div class="patient-infor">
    <app-patient-info></app-patient-info>
  </div>

  <div class="patient-sections">
    <div class="card-section">
      <p-card title="Demographic" [style]="{width: '280px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="../../../../assets/patient-home-bkg.jpg">
        </p-header>
        <div class="section-desp">User demographic information, including basic personal information and address information.</div>
        <p-footer>
          <button pButton type="button" label="Check" icon="fa fa-check" style="margin-right: .25em" routerLink="/dashBoard/patient-demographic"></button>
          <button pButton type="button" label="Edit" icon="fa fa-pencil" class="ui-button-secondary" (click)="editDemographic()"></button>
        </p-footer>
      </p-card>
    </div>

    <div class="card-section">
      <p-card title="Encounters" [style]="{width: '280px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="../../../../assets/patient-home-bkg.jpg">
        </p-header>
        <div class="section-desp">User encounter records, including record data belonging to different departments</div>
        <p-footer>
          <button pButton type="button" label="Check" icon="fa fa-check" style="margin-right: .25em" routerLink="/dashBoard/encounter-table"></button>
          <button pButton type="button" label="Availability" icon="fa fa-pencil" class="ui-button-secondary" (click)="showDialog()"></button>
        </p-footer>

        <p-dialog header="Check Availability" [(visible)]="display" [width]="500" [height]="300"
                  [contentStyle]="{'overflow':'visible'}" [responsive]="true" [modal]="true">
              <div class="ui-g">
                <div class="ui-g-3">
                  <label style="font-size: 14px">Department: </label>
                </div>
                <div class="ui-g-9">
                  <p-dropdown [options]="departments" [(ngModel)]="selectedDepartment" [style]="{'width': '280px'}"></p-dropdown>
                </div>
              </div>

              <div class="ui-g">
                <div class="ui-g-3">
                  <label style="font-size: 14px">Available Till:</label>
                </div>
                <div class="ui-g-9">
                  <p-calendar [(ngModel)]="date8" [timeOnly]="true" [inputStyle]="{'width': '280px'}"></p-calendar>
                </div>
              </div>
          <br>
          <button type="button" pButton icon="fa fa-check" (click)="checkAvailability()" label="Check"></button>
          <button type="button" pButton icon="fa fa-close" (click)="display=false" label="Back" class="ui-button-secondary"></button>

          <div *ngIf="showAvailable" class="info-group">
            <div *ngIf="available; else appt">
              <p style="font-size: 16px;">{{instructions}}</p>
            </div>
            <ng-template #appt>
              <p style="font-size: 16px;"> {{instructions}}</p>
            </ng-template>
          </div>
        </p-dialog>

      </p-card>
    </div>

    <div class="card-section">
      <p-card title="Questionnaire" [style]="{width: '280px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="../../../../assets/patient-home-bkg.jpg">
        </p-header>
        <div class="section-desp">GLOBAL and PROMIS questionnaire system. Help evaluate health condition.</div>
        <p-footer>
          <button pButton type="button" label="Check" icon="fa fa-check" style="margin-right: .25em"></button>
          <button pButton type="button" label="Edit" icon="fa fa-pencil" class="ui-button-secondary"></button>
        </p-footer>
      </p-card>
    </div>

    <div class="card-section">
      <p-card title="Appointment" [style]="{width: '280px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="../../../../assets/patient-home-bkg.jpg">
        </p-header>
        <div class="section-desp">Check upcoming appointment or make new appointment.</div>
        <p-footer>
          <button pButton type="button" label="Check" icon="fa fa-check" style="margin-right: .25em"></button>
          <button pButton type="button" label="Edit" icon="fa fa-pencil" class="ui-button-secondary"></button>
        </p-footer>
      </p-card>
    </div>
  </div>
</div>
