<div  class="main-container">
  <h2 class="page-title">Create Patient Encounter</h2>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

  <div [ngSwitch]="activeIndex" class="input-section">
    <ng-container *ngSwitchCase="0">
      <p-card>
        <form [formGroup]="form1" class="input-form">
          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> User Name</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="username" disabled>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> First Name</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="firstname" disabled>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> Last Name</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="lastname" disabled>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> Gender </label>
            </div>
            <div class="ui-g-10">
              <p-toggleButton formControlName="gender" onLabel="Male" onIcon="fa fa-male" offLabel="Female" offIcon="fa fa-female" [style]="{'width':'150px'}"></p-toggleButton>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> Date of Birth</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="dob" disabled>
            </div>
          </div>
        </form>
        <p-footer>
          <div class="button-group">
            <p-button (onClick)="goBack()" icon="fa fa-chevron-left" label="Back" styleClass="ui-button-success"></p-button>
            <p-button (onClick)="goNext()" icon="fa fa-chevron-right" iconPos="right" label="Next" styleClass="ui-button-info"></p-button>
          </div>
        </p-footer>
      </p-card>
    </ng-container>

    <ng-container *ngSwitchCase="1">


      <div class="button-group">
        <p-button (onClick)="goPrevious()" icon="fa fa-chevron-left" label="Previous" styleClass="ui-button-success"></p-button>
        <p-button (onClick)="goNext()" icon="fa fa-chevron-right" iconPos="right" label="Next" styleClass="ui-button-info"></p-button>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="2">
      nfnoifwfw

      <div class="button-group">
        <p-button (onClick)="goPrevious()" icon="fa fa-chevron-left" label="Previous" styleClass="ui-button-success"></p-button>
        <p-button (onClick)="goNext()" icon="fa fa-chevron-right" iconPos="right" label="Next" styleClass="ui-button-info"></p-button>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="3">
      nfnoifwfw

      <div class="button-group">
        <p-button (onClick)="goPrevious()" icon="fa fa-chevron-left" label="Previous" styleClass="ui-button-success"></p-button>
        <p-button (onClick)="goNext()" icon="fa fa-chevron-right" iconPos="right" label="Next" styleClass="ui-button-info"></p-button>
      </div>
    </ng-container>
  </div>
</div>




