<div  class="main-container">
  <h2 class="page-title">Create Patient Encounter</h2>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

  <div [ngSwitch]="activeIndex" class="input-section">
    <ng-container *ngSwitchCase="0">
      <p-card>
        <form [formGroup]="form1" class="input-form">
          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> User Name</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="username" disabled>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> First Name</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="firstname" disabled>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> Last Name</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="lastname" disabled>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> Gender </label>
            </div>
            <div class="ui-g-10">
              <p-toggleButton formControlName="gender" onLabel="Male" onIcon="fa fa-male" offLabel="Female" offIcon="fa fa-female" [style]="{'width':'150px'}"></p-toggleButton>
            </div>
          </div>

          <div class="ui-g" style="width: 100%">
            <div class="ui-g-2">
              <label class="input-label"> Date of Birth</label>
            </div>
            <div class="ui-g-10">
              <input type="text" size="70" pInputText formControlName="dob" disabled>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-2">
              <label class="input-label"> Confirm to continue</label>
            </div>
            <div class="ui-g-10">
              <p-toggleButton formControlName="confirm" onLabel="I confirm the information is true." onIcon="fa fa-check" offLabel="I rejected" offIcon="fa fa-times" [style]="{'width':'300px'}"></p-toggleButton>
            </div>
          </div>
        </form>
        <p-footer>
          <div class="button-group">
            <p-button (onClick)="goBack()" icon="fa fa-chevron-left" label="Back" styleClass="ui-button-success"></p-button>
            <p-button (onClick)="goNext()" icon="fa fa-chevron-right" iconPos="right" label="Next" styleClass="ui-button-info" [disabled]="form1.invalid"></p-button>
          </div>
        </p-footer>
      </p-card>
    </ng-container>

    <ng-container *ngSwitchCase="1">
      <p-card>
        <form [formGroup]="form2" class="input-form">
          <div class="ui-g">
            <div class="ui-g-6">
              <input type="text" size="70" pInputText formControlName="supervisor" placeholder="Supervisor Clinician">
            </div>
            <div class="ui-g-6">
              <input type="text" size="70" pInputText formControlName="servicestu" placeholder="Service Student">
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Height" formControlName="height" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">cm</span>
              </div>
            </div>

            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Weight" formControlName="weight" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px; padding-right: 8px">lb</span>
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Systolic Blood Pressure" formControlName="systolic" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">mmHg</span>
              </div>
            </div>
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Diastolic Blood Pressure" formControlName="diastolic" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">mmHg</span>
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Heart Rate" formControlName="heartRate" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">BPM</span>
              </div>
            </div>
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Respiratory Rate (optional)" formControlName="respiratoryRate" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">/min</span>
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Temperature" formControlName="temperature" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">F</span>
              </div>
            </div>
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Oxygen Saturation" formControlName="oxygen" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">%</span>
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Waist Circumference" formControlName="waist" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">cm</span>
              </div>
            </div>
            <div class="ui-g-6">
              <div class="ui-inputgroup">
                <input type="number" pInputText placeholder="Head Circumference" formControlName="head" style="width: 475px">
                <span class="ui-inputgroup-addon" style="font-size: 14px">cm</span>
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <p-dropdown [options]="categories" formControlName="category" placeholder="Select Category" [style]="{'width': '495px'}"></p-dropdown>
            </div>
            <div class="ui-g-6">
              <p-dropdown [options]="dispositions" formControlName="disposition" placeholder="Select Disposition" [style]="{'width': '495px'}"></p-dropdown>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <textarea pInputTextarea formControlName="complaint" placeholder="Client's Chief Complaint" style="width: 495px"></textarea>
            </div>
            <div class="ui-g-6">
              <p-dropdown [options]="icdcode" formControlName="complaintcode" placeholder="ICD-10-CM code for Complaint" [style]="{'width': '495px', 'height': '50px'}"></p-dropdown>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <textarea pInputTextarea formControlName="reason" placeholder="Reason for Encounter" style="width: 495px"></textarea>
            </div>
            <div class="ui-g-6">
              <p-dropdown [options]="icdcode" formControlName="reasoncode" placeholder="ICD-10-CM code for Reason" [style]="{'width': '495px', 'height': '50px'}"></p-dropdown>
            </div>
          </div>

        </form>

        <p-footer>
          <div class="button-group">
            <p-button (onClick)="goPrevious()" icon="fa fa-chevron-left" label="Previous" styleClass="ui-button-success"></p-button>
            <p-button (onClick)="goNext()" icon="fa fa-chevron-right" iconPos="right" label="Next" styleClass="ui-button-info"></p-button>
          </div>
        </p-footer>
      </p-card>
    </ng-container>

    <ng-container *ngSwitchCase="2">
      <p-card>
        <!--TODO: output all encounter information and ask for confirmation here -->
        <div class="input-form">
          <div class="ui-g">
            <div class="ui-g-6">
              <label class="input-label">Clinical Supervisor: <span class="output-text"></span></label>
            </div>
            <div class="ui-g-6">
              <label class="input-label">Service Student: <span class="output-text"></span></label>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <label class="input-label">Height: <span class="output-text"></span></label>
            </div>
            <div class="ui-g-6">
              <label class="input-label">Weight: <span class="output-text"></span></label>
            </div>
          </div>
        </div>
        <p-footer>
          <div class="button-group">
            <p-button (onClick)="goPrevious()" icon="fa fa-chevron-left" label="Previous" styleClass="ui-button-success"></p-button>
            <p-button (onClick)="submit()" icon="fa fa-check" iconPos="right" label="Submit" styleClass="ui-button-info"></p-button>
          </div>
        </p-footer>
      </p-card>
    </ng-container>

    <ng-container *ngSwitchCase="3">
      <p-card>
        <form [formGroup]="form3" class="input-form">
          <div class="ui-g">
            <div class="ui-g-6">
              <textarea pInputTextarea formControlName="subjective" placeholder="Subjective" style="width: 495px; height: 80px"></textarea>
            </div>
            <div class="ui-g-6">
              <textarea pInputTextarea formControlName="objective" placeholder="Objective" style="width: 495px; height: 80px"></textarea>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <textarea pInputTextarea formControlName="assessment" placeholder="Assessment" style="width: 495px; height: 80px"></textarea>
            </div>
            <div class="ui-g-6">
              <textarea pInputTextarea formControlName="plan" placeholder="Plan" style="width: 495px; height: 80px"></textarea>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6">
              <textarea pInputTextarea formControlName="service" placeholder="Service Provided" style="width: 495px"></textarea>
            </div>
            <div class="ui-g-6">
              <p-dropdown [options]="icdcode" formControlName="servicecode" placeholder="HCPCS code" [style]="{'width': '495px', 'height': '50px'}"></p-dropdown>
            </div>
          </div>

        </form>
        <p-footer>
          <div class="button-group">
            <p-button (onClick)="goPrevious()" icon="fa fa-chevron-left" label="Previous" styleClass="ui-button-success"></p-button>
            <p-button (onClick)="goNext()" icon="fa fa-chevron-right" iconPos="right" label="Next" styleClass="ui-button-info"></p-button>
          </div>
        </p-footer>
      </p-card>
    </ng-container>


  </div>
</div>




