:host >>> .ui-steps .ui-steps-item {
  width: 25%;
}

.main-container {
  margin-left: 20px;
  margin-top: 10px;
  width: 1250px;
  height: 630px;
  overflow: auto;
}

.sub-title {
  font-family: 'Verdana';
  font-size: 12px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.input-section {
  margin-top: 10px;
  margin-left: 10px;
}


.input-form {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 97%;
  justify-content: center;
}

.input-label {
  font-size: 15px;
  font-weight: bold;
  /*color: #108ee9;*/
}

.ui-inputtext {
  font-size: 14px;
  color: #000000;
  background-color: aliceblue;
}

.button-group {
  padding-left: 25px;
}

:host >>> .ui-inputswitch {
  width: 100px;
  height: 30px;
}

.ui-inputswitch-on .ui-inputswitch-on-span {
  font-size: 16px;
}

.ui-dropdown {
  width: 100%;
}

.ui-dropdown-item {
  font-size: 14px;
}

.ui-dropdown-label {
  font-size: 14px;
}

.output-text {
  font-size: 14px;
  padding-left: 10px;
  color: #434560;
}

p-dropdown {
  width: 495px;
  font-size: 14px;
}

.ui-g {
  padding-bottom: 5px;
}

