
.left-side-nav {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/login-bk.jpg');
  background-size: cover;
  opacity: 0.85;
  /*background-color: #3c989e;*/
}


.main-menu {
  height: 40%;
}

:host >>> .ui-toolbar{
  height: 50px;
  padding-bottom: 5px;
  align-items: center;
  color: #3c989e;
}

:host >>> .ui-toolbar-group-left {
  padding-left: 20px;
  padding-top: 6px;
  align-items: baseline;
}

.search-section {
  width: 90%;
}

:host >>> .ui-toolbar-group-right {
  padding-top: 6px;
}

:host >>> .ui-panelmenu {
  margin-top: 1px;
  width: 100%;
  align-items: center;
}

:host >>> .ui-panelmenu-header-link {
  height: 50px;
  padding-top: 16px;
  padding-left: 5px;
}

:host >>> .ui-menuitem {
  height: 50px;
  padding-top: 10px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

:host >>> .ui-menuitem-link {
  height: 80%;
}

:host >>> .ui-menuitem-text {
  font-size: 16px;
  margin-left: 3%;
  padding-left: 8%;
}

:host >>> .ui-menuitem-icon {
  font-size: 16px;
  padding-left: 9%;
}

:host >>> .ui-button-text {
  font-size: 14px;
}

.footer {
  padding-left: 20px;
  top: 660px;
  position: absolute;
}

.copy-right {
  color: #000;
  font-size: 13px;
}
