.left-side-nav {
  width: 16%;
  padding-top: 50px;
  height: 100%;
  background-color: lightgrey;
}

.menu .ui-megamenu .ui-widget .ui-widget-content .ui-corner-all .ui-megamenu-vertical {
  width: 100%;
}

.menu .ui-megamenu {
  width: 100%;
}

.menu .ui-megamenu-vertical {
  width: 100%;
}

.menu .ui-menuitem {
  width: 200px;
}
