<div class="layout-sidebar" style="overflow: visible">
  <div class="layout-tabmenu">
    <ul class="layout-tabmenu-nav">

      <li class="active-item">
        <a class="tabmenuitem-link" href="#">
          <i class="fa fa-folder-open" style="color: #6ec5ff"></i>
        </a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Features</div>
        </div>
      </li>
      <li class>
        <a class="ripplelink tabmenuitem-link" href="#">
          <i class="fa fa-calendar"></i>
        </a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Inbox</div>
        </div>
      </li>
    </ul>


  </div>
</div>
