.left-side-nav {
  width: 16%;
  padding-top: 50px;
  height: 100%;
  background-color: lightgrey;
}

:host >>> .ui-megamenu {
  margin-top: 1px;
  width: 100%;
}

:host >>> .ui-menu-list {
  height: 100px;
}

:host >>> .ui-menuitem {
  height: 50px;
  align-content: center;
  justify-content: flex-start;
}

:host >>> .ui-menuitem-text {
  font-size: 16px;
  margin-left: 3%;
  padding-left: 8%;
}

:host >>> .ui-menuitem-icon {
  font-size: 16px;
  padding-left: 9%;
}

