<div class="head-bar">
  <a class="logo-link">
    <img src="../../../assets/health.png" class="wellness-icon">
    <span class="logo-text">Wellness Pavilion</span>
  </a>

  <div class="right-side-group">
    <div class="user-profile">
      <span class="user-name"><strong>{{ username }}</strong></span>
      <img src="../../../assets/user1.png" class="user-photo">
      <p-overlayPanel #op2>
        <li class="menu-options">
          <a href="#">
            <i class="fa fa-fw fa-user" style="padding-right: 10px; font-size: 14px"></i>
            <span style="padding-right: 20px; font-size: 14px">Profile</span>
            <span class="head-bar-submenuitem-badge">5</span>
          </a>
        </li>
        <li class="menu-options">
          <a href="#">
            <i class="fa fa-fw fa-cog" style="padding-right: 10px; font-size: 14px"></i>
            <span style="padding-right: 20px; font-size: 14px">Setting</span>
          </a>
        </li>
        <li class="menu-options">
          <a routerLink="">
            <i class="fa-fw fa-user-secret" style="padding-right: 10px; font-size: 14px"></i>
            <span style="padding-right: 20px; font-size: 14px">Log out</span>
          </a>
        </li>
      </p-overlayPanel>
      <i class="fa fa-angle-down" style="font-size: 20px; color: white; padding-top: 4px; margin-left: 5px" (click)="op2.toggle($event)"></i>
    </div>
  </div>
</div>
