<div class="ui-g" style="width:250px;margin-bottom:10px" *ngIf="attrContent; else default">
  <div class="ui-g-12" *ngFor="let opt of attrContent.optionItems">
    <p-radioButton [name]=attrContent.name [value]=opt.key [label]=opt.label inputId="{{attrContent.name}} + {{opt.key}}"></p-radioButton>
  </div>
</div>

<ng-template #default>
  <div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Option 1" inputId="opt1"></p-radioButton></div>
    <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Option 2" inputId="opt2"></p-radioButton></div>
    <div class="ui-g-12"><p-radioButton name="group1" value="Option 3" label="Option 3" inputId="opt3"></p-radioButton></div>
  </div>
</ng-template>

