<div  class="main-container">
  <h2 class="page-title">Schedule New Appointment</h2>
  <div class="appointment-info">
    <div class="left-info">
      <div class="form-group">
        <div class="ui-g" style="margin-bottom: 20px">
          <input type="text" pInputText placeholder="Add a title for the event" class="ui-g-12"/>
        </div>
        <div class="ui-g" style="margin-bottom: 30px">
          <input type="text" pInputText placeholder="Add a location" class="ui-g-12"/>
        </div>

        <!--start time input boxes -->
        <div>
          <p class="hint">Start</p>
          <div class="ui-g">
            <div class="ui-g-5" style="margin-right: 10px">
              <p-calendar [showIcon]="true" class="ui-g-12" placeholder="Date"></p-calendar>
            </div>
            <div class="ui-g-4" style="margin-right: 10px">
              <p-calendar [timeOnly]="true" class="ui-g-12" placeholder="Time"></p-calendar>
            </div>
            <div class="ui-g-2 inline-box">
              <p-checkbox name="groupname" value="val1" label="All day"></p-checkbox>
            </div>
          </div>
        </div>

        <!-- end time input boxes-->
        <div>
          <p class="hint">End</p>
          <div class="ui-g">
            <div class="ui-g-5" style="margin-right: 10px">
              <p-calendar [showIcon]="true" class="ui-g-12" placeholder="Date"></p-calendar>
            </div>
            <div class="ui-g-4" style="margin-right: 10px">
              <p-calendar [timeOnly]="true" class="ui-g-12" placeholder="Time"></p-calendar>
            </div>
            <div class="ui-g-2 inline-box">
              <p-checkbox name="groupname" value="val1" label="All day"></p-checkbox>
            </div>
          </div>
        </div>

        <!--frequency and priority -->
        <div>
          <div class="ui-g">
            <div class="ui-g-4 repeat-option">
              <p class="hint">Repeat</p>
              <p-dropdown [options]="frequency" [style]="{'width': '100%', 'margin': '3px'}"></p-dropdown>
            </div>
            <div class="ui-g-4 repeat-option">
              <p class="hint">Reminder</p>
              <p-dropdown [options]="reminder" [style]="{'width': '100%', 'margin': '3px'}"></p-dropdown>
            </div>
            <div class="ui-g-3 repeat-option">
              <p class="hint">Priority</p>
              <p-dropdown [options]="priority" [style]="{'width': '100%', 'margin': '3px'}"></p-dropdown>
            </div>
          </div>
        </div>

        <div style="padding-top: 20px; margin-left: 5px">
          <p-editor [(ngModel)]="text1" [style]="{'height':'210px'}"></p-editor>
        </div>
      </div>
    </div>

    <div class="right-info">
      <p-schedule [events]="events" [defaultView]="'agendaWeek'" [height]="'600px'"></p-schedule>
    </div>

  </div>
</div>
