<div class="login-main">
  <div class="basic-container mid-position">
    <div class="left-side">
      <img src="../../assets/login.jpg" class="login-pic">
    </div>
    <div class="right-side">
      <div class="login-form">
        <h4 class="subtitle">Sign in as Clinician</h4>
        <br>
        <p-scrollPanel [style]="{width: '100%', height: '320px'}">
          <div style="padding:1em;line-height:1.5; margin-bottom: 10px">
            <form [formGroup]="registerForm">
              <input type="text" pInputText placeholder="User Name" formControlName="username" style="width: 300px; margin-bottom: 10px"/>
              <input type="text" pInputText placeholder="First Name" formControlName="firstname" style="width: 300px; margin-bottom: 10px"/>
              <input type="text" pInputText placeholder="Last Name" formControlName="lastname" style="width: 300px; margin-bottom: 10px"/>
              <input type="password" pPassword placeholder="Password" formControlName="password" style="width: 300px; margin-bottom: 10px"/>
              <input type="password" pPassword placeholder="Confirm Password" formControlName="repassword" style="width: 300px; margin-bottom: 10px"/>
              <p-inputMask mask="(999) 999-9999" formControlName="phone" placeholder="Phone" size="36"></p-inputMask>
              <input type="email" pInputText placeholder="Email" formControlName="email" style="width: 300px; margin-bottom: 10px; margin-top: 10px"/>
              <p-dropdown [options]="departments" formControlName="department" [style]="{'width': '300px', 'margin-bottom': '10px'}"></p-dropdown>
              <p-dropdown [options]="roles" formControlName="role" [style]="{'width': '300px', 'margin-bottom': '10px'}"></p-dropdown>
              <div *ngIf="showEnrollYear">
                <input type="text" pInputText formControlName="year" placeholder="Enroll Year(YYYY)" style="width: 300px; margin-bottom: 10px"/>
              </div>
            </form>
          </div>
        </p-scrollPanel>
        <br>
        <button pButton type="button" class="ui-button-primary submit-button" label="Submit"></button>
        <button pButton type="button" class="ui-button-success submit-button" label="Back" routerLink="/login"></button>
      </div>
    </div>
  </div>
</div>
