.container {
  background-image: url("../../assets/login-bk.jpg");
  height: 100%;
  weight: 100%;
  justify-content: center;
}


.form-section {
  padding-top: 20px;
}

.input-label {
  font-family: Verdana;
  font-size: 14px;
}


.card-section {
  margin-top: 6%;
}
